*::-webkit-scrollbar {
  display: none;
}

#header {
  padding: 20px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

#header ul {
  background-color: #212125;
  padding: 15px 15px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

#header ul li {
  display: flex;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: 0.4px;
}
.btn {
  position: relative;
  padding: 4px 20px;
  border: 1px solid transparent;
  border-image: linear-gradient(-45deg, #ff0, #f0f, #f00, #00f, #0f0);
  border-image-slice: 1;
  border-radius: 50px;
}

/* 
-----------HOME PAGE
*/

#home {
  position: absolute;
  top: 3.3vw;
  left: 0px;
}
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(https://d1q5p2nadm4152.cloudfront.net/public/images/home-page/home-bg.webp);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  border: 0.1px solid #303030;
}

#container {
  padding: 20px;
}
.gradient {
  background: linear-gradient(90deg, #c982ff, #ff9471, #a5a4ff, #e0dfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero h1,
.multiple-aplication h1 {
  text-align: center;
  font-size: 4vw;
}
#hero .paragraph {
  text-align: center;
  padding: 3vw;
  font-size: 2vw;
  opacity: 0.6;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.button {
  padding: 15px 30px;
  border-radius: 15px;
  background-color: #fff;
  color: #212125;
  display: grid;
  place-items: center;
  font-size: 1.3vw;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.button:hover {
  background-color: #e0dfdf;
}

#trust {
  font-size: 1.2vw;
  letter-spacing: 1px;
}
.bg-border {
  background: linear-gradient(90deg, #bd6ef8, #ff9471, #a5a4ff, #e0dfff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 

---------.multiple-aplication
*/
.multiple-aplication p {
  letter-spacing: 0.5px;
  opacity: 0.9;
}

.bgbtrs {
  background: rgb(0, 0, 0, 0.5);
  z-index: 999;
}

/* 
--------OUTLET
*/
#outlet {
  background-image: url(https://d1q5p2nadm4152.cloudfront.net/public/images/home-page/gradient-tab.webp);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 0.1px solid #353535;
  border-radius: 35px;
}

.bg-change {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-change img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.ceo {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.card img {
  border-radius: 10px;
}
#folowers-sample {
  padding: 20px;
  height: 100vh;
  overflow: auto;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#fr-form input {
  color: #000 !important;
}

.tfivezero {
  top: 20%;
  z-index: 999;
  margin: 20px;
}
.land {
  height: 100vh;
}


#vid {
  height: 50vh;
  padding: 2rem 0;
  border-radius: 20px;
  overflow: hidden;
}
#vid video {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  
}

/* 
---------- RESPONSIVE
*/

@media only screen and (max-width: 600px) {
  .home {
    padding: 10px;
  }
  .none {
    display: none !important;
  }
  #header ul {
    width: 100%;
    justify-content: space-between;
    padding: 12px 15px;
  }
  #container {
    padding: 0 20px;
  }
  .btn {
    padding: 10px 15px;
    font-size: 12px !important;
  }
  #hero {
    height: 70vh;
  }
  #hero h1 {
    padding: 0 10px;
    font-size: 8vw;
    line-height: 1.2;
  }
  #hero .paragraph {
    font-size: 20px;
    padding: 10px;
  }
  .bg-change {
    overflow: hidden;
    height: 30vh;
  }
  .bg-change img {
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .web-container {
    padding: 25px 0;
    gap: 20px;
  }
  .button {
    font-size: 20px;
    margin-top: 20px;
  }
  #trust {
    font-size: 15px;
  }
  .multiple-aplication img {
    padding: 20px 0;
  }
  .multiple-aplication p {
    padding: 19px 0;
    opacity: 0.7;
    font-size: 15px;
    line-height: 1.1;
  }
  .ceo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    -webkit-border-radius: var(--border-radius-md);
    border-radius: var(--border-radius-md);
    overflow: auto hidden;
    -webkit-scroll-snap-type: inline mandatory;
    -ms-scroll-snap-type: inline mandatory;
    scroll-snap-type: inline mandatory;
    overscroll-behavior-inline: contain;
  }
  #folowers-sample {
    padding: 10px;
    height: 80vh;
  }
}
